//
   Created by luhuijian on 15/5/25.

extends layout
block content
  .container
    .col-md-9
      form#blog_form_post(method="post",role="form", action="/u/#{user.name}/blog/#{b._id}")
        div.form-group
          label(for="title") 文章标题
          input.form-control(id="title", name="blog[blogtitle]" value="#{b.blogtitle}")
        div.form-group
          label(for="body") 内容
          script#editor(name="blog[blogbody]" type="text/plain")  !{b.blogbody}
        input.btn.btn-success(type="submit" value="提交")
    .col-md-3
      label(for="tags") 标签
      .form-inline
        .form-group
          input#tags.form-control(type="text" style="margin-right:5px")
        button#add_tags.btn.btn-primary 添加
        #tags_box
          if b.tags
            each t in b.tags
              span.label.label-danger= t
                button.badge(type="button") &times;

